body {
  margin: 0;
  padding: 0;
  

}

.html {
width: 100vw;
}
.toggler {
  display: none;
}
.home_main {
display: flex;
flex-direction: column;
margin-top: 5vh;
gap:10vh;
}
.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.top_bar {
  z-index: 100;
  position: fixed;
  height: 24px;
  /* background: #0017E5; */
  width:100vw;

}

.vid_cont{
  background-image:url('../other/bg_img.jpg') ;
  background-size: 113vw 125vh;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 125vh;
}

#bg_vid {
  margin-top: -100px;
  width: 100vw;
  height: auto;
  overflow: hidden;
  
  
  
  
}




.r_vid{
/* display: none; */
min-width: 100%; 
min-height: 100%;
object-fit: contain;
height: 125vh;
width: auto;
}
.home_main {
  /* margin-top: -500px; */
  position: absolute;
  top: 50px;
  /* margin-top: 0px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:1vh;
  align-items: center;
  width: 100vw;
  justify-content: center;

}
.nav_c {
  background-color: #0017E5;
  /* border: white 2px solid; */
  /* left: 0; */
  z-index:100;
  height: 10vh;
  width: 90vw;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 05px;
}
.navbar {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10vw;
  align-items: center;
  /* position: fixed;
  top: 30px; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-family: Sarabun;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap:25px;
}
.cont_btn {
  display: flex;
  border: none;
  cursor: pointer;
  height: 35px;
  padding: 3px 30px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 4px;
  background: black;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
 font-weight: 800;
 line-height: normal;
}
.home_h {
  width: 100%;

  padding-top: 5vh;
  /* margin: 0; */
  /* margin-top: 150px; */
  color: #FFF;
  text-align: center;
  font-family: Sarabun;
  font-style: normal;
  font-size: 60px;

  font-weight: 600;
  line-height: 100%; /* 72px */
}

.home_p2 {
  /* margin-top: -200px; */
  /* position: absolute;
  bottom: 4px;
  margin-top: 10vw;
  padding-top: 10vh;
  padding-left: 24px; */
  /* align-self: center; */
  margin-top: 10vh;
  color: #FFF;
  width: 80vw;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home_p1 {
  padding-bottom: 40px;
  padding-top: 0;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 88.1%; /* 21.144px */
}

.res_nav {
  display: none;
}

/* about us 1 */

.what{
  display: none;
}

.address{
  display:flex;
  flex-direction: column;
  height:110%;
  margin: 2vh;
  gap:4vh;
  position: relative;
}

.ad_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap:2vh;
  position:absolute;
  bottom:0;
  width:85%;
}

.ad_blue{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:4vh;
  background-color: blue;
  color:white;
  padding-top:5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 7vh;

}

.ad_blue_off{
  font-size: 2vh;
}

.ad_blue_ph{
  font-size: 2vh;
}

.ad_who_txt{
  font-size: 2vh;
}

.ad_blue_head{
  font-weight: 700;
  font-size: 3.5vh;
}

.ad_blue_tail{
  font-weight: 400;
}

.ad_who{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:3.5vh;
  position:relative;
  padding-top:2vh;
  padding-right:3vh;
  padding-left:3vh;
  padding-bottom:5vh;
}

.ad_why{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:3.5vh;
  position:relative;
  padding-top: 2vh;
  padding-right:3vh;
  padding-left:3vh;
  padding-bottom:5vh;
}

.ad_who_head{
  color:blue;
  font-size: 4vh;
  font-weight:700;
}

.ad_who_txt{
  word-wrap:break-word;
  margin-bottom: 5vh;
}

.ad_blue_rect{
  background-color: blue;
  bottom:-20;
  width:100%;
  height:.75vh;
  gap:5vh;
}

.ad_arrow{
  align-self: flex-end;
  bottom:0;
  position:absolute;
}

@media only screen and (min-width:700px){
  .address{
      flex-direction: row;
      height:38vh;
      flex-wrap: nowrap;
      padding:5vw;
  }

  .ad_blue{
      order:3;
      flex-wrap: nowrap;
      padding-top:7vh;
      padding-left: 3vw;
      padding-bottom: 9vh;
  }

  .ad_who{
      order:1;
  }

  .ad_why{
      order:2;
  }

  .ad_blue_rect{
      bottom:10;
  }

  .what{
      display:flex;
      flex-direction: column;
      padding:0vh 8vw;
      gap:2vh;
      margin-bottom: 10vh;
  }

  .what_head{
      color:blue;
      font-weight: 700;
      font-size: 3.5vh;
  }

  .what_tail{
      font-size: 2vh;
  }
}

.visible {
  display: block;
}

/*mobile*/
@media only screen and (max-width: 1000px) {
  .blue_bar {
    display: block;
  }
  .home {
    height: 80vh;
    overflow: hidden;
  }
  .home_main {
    height: 80vh;
    display:flex;
    flex-direction: column;
    gap:2vh;
    justify-content: normal;
    align-self: center;
  }
  
  #bg_vid {
      
     
      height: 80vh;
      width:100vw;
      overflow: hidden;
      
      

  }

  .vid_cont{
    background-size: auto 80vh;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 80vh;
  }

  .r_vid {
      /* transform: translateY(-800px); */
      
      position: absolute; 
      right: 0; 
      bottom: 0;
      top:20px;
      min-width: 100%; 
      min-height: 100%;
      width: auto;
      height: 30vh ;
      /* z-index: -100; */
      background-size: cover;
      overflow: hidden;
      
  }
  #h_cont_btn{
      display: none;
  } 
  .home_nav {
      display: none;
  }
  .home_icon {
      transform: scale(.70);

  }
  .sub_nav{
   background-color: #E7E7E7;
  }
  .toggler {
      display: block;
      display: flex;
      flex-direction: column;
      gap:5px;
      margin-top: 10px;
      padding-right: 5vw;
  }
  .bar {
      width: 36px;
      height: 4.2px;
      background: #FFF;
  }
  .navbar {
      gap:10vw;
      width: 80%;
  }

  .navbar .cont_btn{
    display: none;
  }
 
  .soln {
    width: 100vw;
  }
  .home_h {
      /* transform: scale(.5); */
      line-break:auto;
      width: 100vw;
      font-size: 6vw;
      margin-top: 0vh;
      }
      .home_p1 {
        /* transform: scale(.60); */
        /* margin-top: -80px; */
        font-size: 2.5vw;
      }
      .cont_btn {
          transform:scale(.7)
          
      }
      .home_p2{
        position:absolute;
        bottom: 10vh;
        padding-left: 5vw;
          transform: scale(.5);
          line-break: auto;
          width: 150vw;
          /* margin-left: -50vw; */
         
      } 
      .res_nav {
          position: absolute;
          /* display: block; */
          top:24px;
          right:0;
          height: 75vh;
          width: 70vw;
          background: #FFF;
          border: none;
          overflow: scroll;
          
      }
      .cross {
          position: absolute;
          top: 20px;
          right:35px;
          font-family: Arial, Helvetica, sans-serif;
      }
      .home_nav2 {
          color: #0017E5;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          flex-direction: column;
          gap: 15px;
          position: absolute;
          top: 50px;
          left:35px;
          

      }
 
      
      li {
          border-bottom: 1px #E7E7E7 solid;
          width: 50vw;
      }
      .plus {
          position: absolute;
          font-weight: 800;
          font-size: 25px;
          color: #0017E5;
          top:114px;
          right: 35px;
      }
      .about_us1 {
        width: 100vw;
        gap: 2vh;
      }
      .us {
        display: flex;
        flex-direction: column;
        /* margin-left:25vw;
        margin-right: 30vw;
        padding-right: 20vw;
        margin-right: 0; */
        width: 100vw;
        gap: 10vh;
        justify-content: center;
        align-items: center;

      }
      .q{
        padding-top:0;
        margin-top: 0;
        margin-bottom: 0;
      }
      .why,.who,.addr {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
      }
     
      svg .blue_bar {
        width: 80vw;
      }
      .ans {
        width: 80vw;
      }
      
      
      /* .why,.who,.addr {
       
        
        margin-bottom: 5vh;
      }
      .who {
        margin-bottom: 5vh;
      }
      .why {
        margin-top: 10vh;
        padding-bottom: 15vh;
      } */
      /* .blue_bar {
        transform: scaleX(4.5);
        /* margin-left:17vw ; */
      
      /* #sec_bar {
        margin-left: 0vw;
        padding-bottom: 20px;
        width: 10vw;
      }
      .about_us1 > .blue_bar {
        width: 10vw;
      } */ 
      .we_do {
        width: 70vw;
        /* padding-top: 20px; */
        font-size: large;
        margin-left: 0;
        margin-top: 2vh;
        padding-left: 20px;
      }
      .us_p {
        width: 80%;
        padding-top: 2.5vh;
        transform: scale(.8);
        margin-left: 0;
        padding-left: 20px;
        line-break: auto;

      }
      .we_do,.us_p {
        transform: translateX(8vw);
      } 
      .newul {
        color: #0017E5;
        font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          flex-direction: column;
          gap: 15px;
          position: absolute;
          top: 50px;
          left:35px;
      }
      
       
    
}

/* Tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/*large desktop*/
@media only screen and (min-width: 1025px) {
}

.w_nav {
display: none;
width: 80vw;
height: 50vh;
background-color:#FFF;
position: fixed;
z-index:100;
border: 1px black solid;
top:25vh;
margin-left: 10vw;

}
.the_nav {

display: flex;
flex-direction: row;
gap: 2.5vw;
align-items: center;
height: 50vh;
}
.in_div {
z-index: 101;
position: fixed;
width:0 ;
background-color: #1d0e0e;
height: 21vh;
top:6.5vh;
margin-left: 25vw;
opacity: 0;
}
.n_img {
height: 45vh;
width: 30vw;
/* padding-top: 1.5vh; */
/* padding-top: 10vh; */
padding-left: 1.3vw;
}
.nav_con{
/* padding-top: 3vh; */
height: 45vh;
color: #000;
font-family: Inter;
font-size: 24px;
display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.o_s{
  margin: 0;
  font-size: xx-large ;
}

a {
text-decoration:  none;
color: #000;
font-family: Inter;
font-size: 18px;
}


.nav_ops .f li a{
  cursor: pointer;
}

.nav_ops {
text-decoration: none;
/* font-size: 20px; */
gap:2.5vw;
/* height: 27vh; */
width: 100%;
font-size: 10px;
display: flex;
flex-direction: row;

}
.sen:hover .w_nav {
display: block;
}
.nav_ops{
list-style: none;
}
.f {
display: flex;
flex-direction: column;
gap:2.5vh;
}
.home_nav a {
text-decoration: none;
cursor: pointer;

color: #FFF;
font-family: Sarabun;
font-size: 22px;



}

#butc1{
  background-color: #0017E5;
}

#butc1:hover{
  filter: saturate(50%);

transition: all .1s ease-in;

}
#butc2{
  color:#0017E5;
  background-color: white;
}
#butc2:hover{
  /* background-color: #0017E5; */
  /* color: white; */
  opacity: .75;
  transition: all .1s ease-in;
}

.home_nav .m{
  transition: all .3s ease-out;
  border-radius: 20px;
}

.home_nav .m:hover {
  color:#000;
  /* background-color:rgba(255,255,255,0.25); */
  background-color: #000;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding:2.5px 15px 5px 15px;
  transition: all .3s ease-in;
  
}



/* .m {
  padding: 2.5px 15px 5px 15px;
} */


.u:hover a{
  transition: all .1s ease;
  border-bottom: #0017E5 3px solid;
}